<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="app">
            <div class="navbar">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">Navbar</a>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div
                            class="collapse navbar-collapse"
                            id="navbarSupportedContent"
                        >
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a
                                        class="nav-link active"
                                        aria-current="page"
                                        href="/"
                                        >Home</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/users/create"
                                        >Add new user</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="col-8 mx-auto mt-3">
                    <table
                        class="table table-hover table-bordered table-striped"
                    >
                        <thead>
                            <tr class="table-dark">
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">Name</th>
                                <th scope="col">City</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>
                            <tr>
                                <td><%= user.id %></td>
                                <td><%= user.email %></td>
                                <td><%= user.name %></td>
                                <td><%= user.city %></td>
                                <td>
                                    <a
                                        href="/users/<%=user.id%>/edit"
                                        class="btn btn-success"
                                        >Edit</a
                                    >
                                    <button
                                        type="button"
                                        class="btn btn-warning"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteUserModal"
                                        data-bs-id="<%=user.id%>"
                                    >
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal delete user -->
        <div
            class="modal fade"
            id="deleteUserModal"
            tabindex="-1"
            aria-labelledby="deleteUserModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserModalLabel">
                            Delete a user
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <p class="modal-body-content">Are you sure to delete this user?</p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button id="btn-delete-user" type="button" class="btn btn-warning">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form delete user -->
        <form id="form-delete-user" action="" method="post"></form>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const deleteUserForm = document.getElementById("form-delete-user");
                const deleteUserButton = document.getElementById("btn-delete-user");
                let userId;
                deleteUserModal.addEventListener("show.bs.modal", function (event) {
                    // Button that triggered the modal
                    const button = event.relatedTarget;
                    // Extract info from data-bs-* attributes
                    userId = button.getAttribute("data-bs-id");
                });

                deleteUserButton.onclick = () => {
                    deleteUserForm.action = `/users/${userId}/delete`;

                    deleteUserForm.submit();
                }
            }); 
        </script>
    </body>
</html>
